.App {
  text-align: center;
  background-color: gray; 
  margin:0;
  padding: 15px;
  height: 100vh;
  display: flex;
  /* flex-direction: column; */
}

/* Homepage */
.app-title {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 20px;
  background-color: #3498db; 
  color: whitesmoke;
  padding: 10px;
  border-radius: 10px;
}

.app-description {
  font-size: 1rem;
  margin: 30px;
  background-color: whitesmoke;
  border-radius: 10px;
  padding: 10px
}

.app-tagline {
  background-color: black;
  color:whitesmoke;
  border-radius: 10px;
  padding: 15px;
  
}
.app-gif-container {
  height: 60%;
  padding-bottom: 5%;
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  margin-bottom: 30px;
  align-items: center;
  justify-content: center;
}
.app-lead {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 20px;
}
.topic-section {
  background-color: lightgrey;
  border-radius: 10px;
  padding: 14px;
  box-shadow: 0 5px 10px rgba(10, 20, 10, 10);
} Button {
  box-shadow: 0 5px 5px rgba(10, 10, 10, 10);
}
.topic-card {
  border: none;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s;
}
.topic-card:hover {
  transform: scale(1.03);
}
.openai-section {
  margin-top: 50px;
  padding: 10px;
  background-color: #f8f9fa; 
  border-radius: 10px;
  box-shadow: 0 10px 10px rgba(10, 20, 10, 10);
}